@{
    ViewBag.Title = "Mortgage Products";
}

<div class="container-fluid">
    <div class="col-md-12 mycontflu">
        <div class="col-md-8 col-md-offset-2" style="padding-top:1%;background-color:#f8f8f8;">
            <h2 class="text-center">@ViewBag.Title</h2>
            <hr class="myhr" />
        </div>
        <div class="col-md-8 col-md-offset-2" style="background-color:#f8f8f8;">
            <p>We can provide comprehensive Spanish mortgage advice to our clients by ensuring our highly professional team is kept fully  up to date on mortgage schemes available.</p>
            <p>All lenders we deal with are reputable high street names, accessible nationally throughout Spain & the UK. We will obtain the lowest rate mortgage available tailored to your needs.</p>
            <p>New mortgage products are constantly being introduced onto the market. Lexus Mortgages works on your behalf with mortgage lenders to give you access to the very best offers. We also ensure that you understand the fine detail of what's on offer.</p>
        </div>
    </div>
    <div class="col-md-12 mycontflu" style="padding-top:3%;padding-bottom:3%;">
        <div class="col-md-12 text-center">
            <div class="col-md-3">
                <div class="col-md-12 col-md-6 card" style="margin-right:2%;border-bottom:5px solid rgba(44, 104, 149, 0.4);">
                    <h3>Resident & Non-Resident Mortgages</h3>
                    <a href="@Url.Action("Index", "MortgageProcess")">
                        <img class="grow img-rounded" src="@Url.Content("~/Content/Images/european-flag.png")" style="width:40%" alt="mortgageCalculatorLogo" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 col-sm-6 card" style="margin-right:2%;border-bottom:5px solid rgba(44, 104, 149, 0.4);">
                    <h3 style="margin-bottom:20px;">Commercial Mortgages</h3>
                    <a href="@Url.Action("Index", "MortgageProcess")">
                        <img class="grow img-rounded" src="@Url.Content("~/Content/Images/commercial.png")" style="width:40%" alt="applyLogo" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 col-sm-6 card" style="margin-right:2%;border-bottom:5px solid rgba(44, 104, 149, 0.4);">
                    <h3 style="margin-bottom:0px;">Mortgages for all Nationalities</h3>
                    <a href="@Url.Action("Index", "MortgageProcess")">
                        <img class="grow img-rounded" src="@Url.Content("~/Content/Images/globe.png")" style="width:40%" alt="contactUsLogo" />
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 col-sm-6 card" style="border-bottom:5px solid rgba(44, 104, 149, 0.4);">
                    <h3>Construction Mortgages</h3>
                    <a href="@Url.Action("Index", "MortgageProcess")">
                        <img class="grow img-rounded" src="@Url.Content("~/Content/Images/tools.png")" style="width:40%" alt="contactUsLogo" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
