@{
    ViewBag.Title = "MortgageProcess";
    AjaxOptions options = new AjaxOptions
    {
        Confirm = "Are you sure to save record?",
        OnBegin = "OnBeginMethod",
        OnFailure = "OnFailtureMethod",
        OnSuccess = "OnSuccessMethod",
        OnComplete = "OnCompleteMethod"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container-fluid">
    <div class="col-md-12" style="padding-top:1%">
        <h2 class="text-center">The Mortgage Process</h2>
        <hr />
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <p>
                At Lexus Mortgages we are fully experienced in the lending criteria's of the Spanish lenders.
                We are often able to give an instant decision as to whether the mortgage would be approved.
                The banks require the following documentation to support an application:
            </p>
        </div>
        <div class="col-md-12">
            <ul class="texts">
                <li> Copy Passport</li>
                <li> NIE or residents certificate (this can be provided at completion)</li>
                <li> If employed – Latest P60 & past 3 months pay slips</li>
                <li> If self employed – Last 2 years business accounts & personal tax returns</li>
                <li> If retired – Latest P60 or pension notification for following year</li>
                <li> Proof of any other income</li>
                <li> 3 months full bank statements showing income received</li>
                <li> Purchase contract or Escritura for already owned properties</li>
                <li> Credit Report</li>
            </ul>
        </div>
        <div class="col-md-12">
            <p>
                The mortgage process will take approximately 3-4 weeks to be finalized. Lexus Mortgages will liaise direct with your lawyer & the lender to co-ordinate a smooth completion.
            </p>
        </div>
    </div>
        <script>
            $(document).ready(function () {
                $("#btnCalculator").on("click", function () {
                    $.ajax({
                        url: 'Create',
                        type: "POST",
                        dataType: "html"
                    })
                    .done(function (partialViewResult) {
                        $("#cal-result").html(partialViewResult);
                    });
                });
            
            });
            $(function () {
                $('.tlt').textillate();
            });
        </script>
        
    <div class="col-md-6">
        @model LexusMortgages.Models.MortgageProcess
        @using (@Ajax.BeginForm("ShowDetails", "MortgageProcess",
                     new AjaxOptions
                     {
                         HttpMethod = "POST",
                         UpdateTargetId = "cal-result",
                         InsertionMode = InsertionMode.Replace,
                         LoadingElementId = "waitimage"
                     }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-10 col-md-offset-1" style="margin:5%" >
                <div class="col-md-12">
                    <h3 class="text-center">&nbsp;<span class="fa fa-calculator"></span>Mortgage Calculator</h3>
                </div>
                
                    <div class="col-md-10 col-md-offset-1">
                        @Html.TextBoxFor(m => m.amount, new { placeholder = Html.DisplayNameFor(n => n.amount) })
                        <br />
                        @Html.ValidationMessageFor(m => m.amount, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        @Html.TextBoxFor(m => m.years, new { placeholder = Html.DisplayNameFor(n => n.years) })
                        <br />
                         @Html.ValidationMessageFor(m => m.years, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10 col-md-offset-1">

                        @Html.DropDownListFor(model => model.rate, new SelectList(
                       (List<Object>)ViewBag.rateOptions,
                           "value", "text", 1), "---Interest Rate---")
                        <br />
                        @Html.ValidationMessageFor(model => model.rate, "", new { @class = "text-danger" })
                    </div>

                <div class="col-md-10 col-md-offset-1">
                    <input type="submit" value="Calculate" id="btnCalculator" class="grow center-block mybutton">
                </div>

                    </div>
                    
                <div id="cal-result" class="col-md-11 text-center">

                 </div>
        }
        </div>
        </div>
</body>
</html>
