@{
    ViewBag.Title = "MortgageProcess";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <h2>The Mortgage Process</h2>
        <hr />
        <div class="col-lg-6">
            <p>
                At Lexus Mortgages we are fully experienced in the lending criteria´s of the Spanish lenders.
                We are often able to give an instant decision as to whether the mortgage would be approved.
                The banks require the following documentation to support an application:
            </p>
              <ul>
                <li>  Copy Passport</li>
                <li> NIE or residents certificate (this can be provided at completion)</li>
                <li> If employed – Latest P60 & past 3 months pay slips</li>
                <li> If self employed – Last 2 years business accounts & personal tax returns</li>
                <li> If retired – Latest P60 or pension notification for following year</li>
                <li> Proof of any other income</li>
                <li> 3 months full bank statements showing income received</li>
                <li> Purchase contract or Escritura for already owned properties</li>
                <li> Credit Report</li>
              </ul>
            <p>
                The mortgage process will take approximately 3-4 weeks to be finalized. Lexus Mortgages will liaise direct with your lawyer & the lender to co-ordinate a smooth completion.
            </p>
</div>
        <div class="col-lg-6">
        @model LexusMortgages.Models.MortgageProcess
        @using (Html.BeginForm()) 
        {
    @Html.AntiForgeryToken()
    
    <div class="div-rounded-blue-contact" >
        <div class="row">
            <h4 class="col-lg-8 calculator-header myshadow"><span class="fa fa-calculator col-lg-4"></span>Mortgage Calculator</h4>
        </div>
        <hr />
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.years, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.years, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.years, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.rate, new { @class = "col-md-4 control-label" })
                <div class="col-md-4">

                    @Html.DropDownListFor(model => model.rate, new SelectList(
                                 (List<Object>)ViewBag.rateOptions,
                                     "value", "text", 2), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.rate)
                </div>

                <div class="col-md-4">
                    <button class="btn btn-primary mybutton" type="submit">
                        <span>Calculate</span>
                    </button>
                </div>
            </div>
        </div>    
    </div>
            if (ViewBag.answer != null)
            {
                <div class="alert alert-success">
                    <strong>APR: @(((decimal)ViewBag.answer).ToString("C2")) per month.</strong>
                </div>
            }
        }
</div> 
    </div>
</body>
</html>
