@{
    ViewBag.Title = "Home Page";
}

   <div class="container-fluid">


       <div id="carousel-example-generic" class="carousel slide" style="bottom:50px;" data-ride="carousel">

           <!-- Indicators -->
           <ol class="carousel-indicators">
               <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
               </li>
               <li data-target="#carousel-example-generic" data-slide-to="1"></li>
               <li data-target="#carousel-example-generic" data-slide-to="2"></li>
           </ol>

           <!-- Wrapper for slides -->
           <div class="carousel-inner" role="listbox">

               <!-- First slide -->
               <div id="main1" class="item active">
                   <div class="carousel-caption" style="padding-top:10%;">
                       <h3 data-animation="animated bounceInLeft">
                           Spanish Mortgage Specialists
                       </h3>
                       <h3 data-animation="animated bounceInRight">
                           Over 20 years experience
                       </h3>
                       <button class="btn btn-primary btn-lg"  onclick="window.location.href = '@Url.Action("Index", "Contact")';" 
                               data-animation="animated zoomInUp">
                           Contact Us
                       </button>
                   </div>
               </div><!-- /.item -->
               <!-- Second slide -->
               <div id="main2" class="item">
                   <div class="carousel-caption" style="padding-top:10%;">
                       <h3 class="icon-container" data-animation="animated bounceInDown">
                           <span class="glyphicon glyphicon-home"></span>
                       </h3>
                       <h3 data-animation="animated bounceInUp">
                           Fixed rates from 2,99%
                       </h3>
                       <button class="btn btn-primary btn-lg"  onclick="window.location.href = '@Url.Action("Index", "MortgageProducts")';" 
                               data-animation="animated zoomInRight">
                           Our Products
                       </button>
                   </div>
               </div><!-- /.item -->
               <!-- Third slide -->
               <div id="main3" class="item">
                   <div class="carousel-caption" style="padding-top:10%;">
                       <h3 class="icon-container" data-animation="animated zoomInLeft">
                           <span class="fa fa-pencil-square-o"></span>
                       </h3>
                       <h3 data-animation="animated flipInX">
                           Decision in Principle
                       </h3>
                       <button class="btn btn-primary btn-lg" onclick="window.location.href = '@Url.Action("Index", "ApplyOnline")';" 
                               data-animation="animated lightSpeedIn">
                           Apply Online
                       </button>
                   </div>
               </div><!-- /.item -->

           </div><!-- /.carousel-inner -->
           <!-- Controls -->
           <a class="left carousel-control" href="#carousel-example-generic"
              role="button" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
           </a>
           <a class="right carousel-control" href="#carousel-example-generic"
              role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
           </a>

       </div><!-- /.carousel -->


        @*<div class="col-md-12 intro-header">
       
            <div class="intro-message">
                <div id="maintext" class="col-md-12 myshadow text-center" style="color:#fff;font-size:5em;"><span class="fa fa-home"></span>&nbsp;Spanish Mortgage Specialists</div>

                    <ul id="main-subtext" class="texts col-md-12 tlt1 myshadow col-md-6 col-md-offset-5" data-in-effect="fadeInUp" data-out-effect="rollOut" style="color:#fff; font-size:4em">
                        <li id="subtext">Over 20 years experience</li>
                        <li id="subtext2">Fixed rates from 2,99%</li>
                        <li id="subtext2">Decision in Principle</li>
                        
                    </ul>
                   
            </div>
        </div>*@
    </div>
@*<div id="weather" class="col-sm-12 col-md-4 col-md-offset-8">

        <a href="http://www.accuweather.com/en/es/alicante/310681/weather-forecast/310681" class="aw-widget-legal">

        By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.

        </a><div id="awcc1474117299875" class="aw-widget-current" data-locationkey="310681" data-unit="c" data-language="en-us" data-useip="false" data-uid="awcc1474117299875" data-targeturl="http://lexusmortgages.azurewebsites.net"></div>
        <script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
    </div>*@
    <script type="text/javascript">
        $(Document).ready(function () {
        

            /* Toggle between adding and removing the "active" and "show" classes when the user clicks on one of the "Section" buttons. The "active" class is used to add a background color to the current button when its belonging panel is open. The "show" class is used to open the specific accordion panel */
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function () {
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                }
            }
        });

        $(function () {
            $("#accordion").accordion();
        });

        $(function () {
            $('.tlt1').textillate({
                loop: true,
                minDisplayTime: 3000
            });
        });
       

    </script>
    <!-- /.intro-header -->
    <div class="container-fluid">
        <div class="col-md-12 ">
            <div class="col-md-8 col-md-offset-2 text-justify" style="background-color:#f8f8f8">
                <div class="col-md-4 col-md-offset-4"><h1 class="text-center" style="margin-top:0px">Welcome</h1><hr class="myhr" /></div>
                <div class="col-md-12">
                    <p>
                        Lexus Mortgages is your first choice for mortgages in Spain.
                        At Lexus Mortgages we offer a comprehensive range of services to guide you through the process of obtaining a mortgage in Spain.
                    </p>
                    <p>
                        Our wealth of experience ensures that you receive the best possible rates and conditions for your Spanish Mortgage. We only recommend reputable lenders & negotiate on your behalf to obtain the best deal on a Spanish mortgage.
                    </p>
                </div>

            </div>
        </div>
        @*<div class="col-md-6" style="margin-top:6%">
            <button class="accordion"><h3 class="myshadow text-center">About Lexus Mortgages</h3></button>
            <div class="panel">
                <p>
                    Our wealth of experience ensures that you receive the best possible rates and conditions for your Spanish Mortgage.
                    We only recommend reputable lenders & negotiate on your behalf to obtain the best deal on a Spanish mortgage.
                </p>
                <p><a class="grow btn btn-info center-block" href="@Url.Action("About", "Home")">Learn more &raquo;</a></p>
            </div>
            <button class="accordion"><h3 class="myshadow text-center">Mortgage Process</h3></button>
            <div class="panel">
                <p>
                    At Lexus Mortgages we are fully experienced in the lending criteria's of the Spanish lenders. We are often able to give an instant decision as to whether the mortgage would be approved.
                </p>
                <p><a class="grow btn btn-info center-block" href="@Url.Action("Index", "MortgageProcess")"><span class="fa fa-home"></span>&nbsp;Mortgage Calculator &raquo;</a></p>
            </div>
            <button class="accordion"><h3 class="myshadow text-center">Apply Online</h3></button>
            <div class="panel">
                <p>
                    Complete our online application form to take the first steps. We will then search our wide range of mortgages to find the one that best meets your own personal requirements.
                </p>
                <p><a class="grow btn btn-info center-block" href="@Url.Action("Index", "ApplyOnline")">Apply Online! &raquo;</a></p>
            </div>
        </div>*@
    </div>

    @section Scripts {
        <script src="~/Scripts/owl.carousel.min.js"></script>
        <script src="~/Scripts/owl.carousel.js"></script>
        <script>
            $(document).ready(function () {
                animate();// will trigger when the document is ready
                $("#owl-demo").owlCarousel({
                   
                    navigation: false,
                    pagination: false,
                    autoPlay: 3500, //Set AutoPlay to 3.5 seconds

                    items: 4,
                    itemsDesktop: [1199, 3],
                    itemsDesktopSmall: [979, 3]

                });
                function animate() {
                    $("#img-approve").fadeOut("slow", animate);
                    $("#img-approve").fadeIn("slow", animate);
                };

            });
           
        </script>
    }

    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2 text-center" style="background-color:#f8f8f8;margin-bottom:2%">
            <h1 class="text-center">At Your Service</h1>
            <hr class="myhr" />
        </div>
        <div class="col-md-12" style="background-color:#f8f8f8">
           
            <div class="col-md-3">
                <div class="col-md-12 col-sm-6 card img-wrapper text-justify">
                    <a href="@Url.Action("Index", "ApplyOnline")">
                        <h4 style="font-weight:bolder">No need for pen and paper!</h4>

                        <img class="img-wrapper" src="@Url.Content("~/Content/Images/couple-mortgage.png")" alt="mortgageCalculatorLogo" />
                    </a>
                </div>
                <div class="col-md-12 col-sm-6 text-justify card-text">
                    <p>
                        Complete our online application form to take the first steps. We will then search our wide range of mortgages to find the one that best meets your own personal requirements.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 col-sm-6 card img-wrapper text-justify">
                    <a href="@Url.Action("Index", "MortgageProcess")">
                        <h4 style="font-weight:bolder">Mortgage Process explained</h4>

                        <img class="img-wrapper" src="@Url.Content("~/Content/Images/mortgage-main.png")" alt="mortgageCalculatorLogo" />
                    </a>
                </div>
                <div class="col-md-12 col-sm-6 text-justify card-text" style="background-color:#fff">
                    <p>
                        At Lexus Mortgages we are fully experienced in the lending criteria's of the Spanish lenders. We are often able to give an instant decision as to whether the mortgage would be approved.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 col-sm-6 card img-wrapper text-justify">
                    <a href="@Url.Action("Index", "MortgageProducts")">
                        <h4 style="font-weight:bolder">View Mortgage Products</h4>

                        <img class="img-wrapper" src="@Url.Content("~/Content/Images/product-keys.png")" alt="mortgageCalculatorLogo" />
                    </a>
                </div>
                <div class="col-md-12 col-sm-6 text-justify card-text" style="background-color:#fff">
                    <p>
                        Our range of products has been devised to cater to all your needs when puchasing your property in Spain.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 col-sm-6 card img-wrapper text-justify">
                    <a href="@Url.Action("Index", "Contact")">
                        <h4 style="font-weight:bolder">Make an enquiry</h4>

                        <img class="img-wrapper" src="@Url.Content("~/Content/Images/check-phone.png")" alt="mortgageCalculatorLogo" />
                    </a>
                </div>
                <div class="col-md-12 col-sm-6 text-justify card-text" style="background-color:#fff">
                    <p>
                        Please do not hesitate to contact us if you have any queries. We simplify the mortgage process and assist you from getting approval in principal, to when you pick up the keys for your new home.
                    </p>
                </div>
            </div>
               
                @*<button onclick="window.location.href = '@Url.Action("Index", "ApplyOnline")';" id="button-apply" class="button-styled" style="font-family: 'Electrolize', sans-serif;"><span class="fa fa-pencil-square fa-3x"></span>Apply Online</button>*@
            
            @*<div class="col-md-4 text-justify">
                <p>
                    At Lexus Mortgages we are fully experienced in the lending criteria's of the Spanish lenders. We are often able to give an instant decision as to whether the mortgage would be approved.
                </p>
                <button onclick="window.location.href = 'http://lexusmortgages.azurewebsites.net/MortgageProcess/#mortgagecal'" id="button-cal" class="button-styled" style="font-family: 'Electrolize', sans-serif;"><span class="fa fa-home fa-3x"></span>Mortgage Calculator</button>
            </div>
            <div class="col-md-4 text-justify">
                <p>Please do not hesitate to contact us if you have any queries. We simplify the mortgage process and assist you from getting approval in principal, to when you pick up the keys for your new home.</p>
                <button onclick="window.location.href='@Url.Action("Index", "Contact")';" id="button-contact" class="button-styled" style="font-family: 'Electrolize', sans-serif;"><span class="fa fa-phone fa-3x"></span>Contact Us</button>
            </div>*@
        </div>
    </div>
    @*<div class="col-md-12">
            <div class="col-md-4 mypadding center-block">
                <img class="overlayimage" src="@Url.Content("~/Content/Images/20euro.png")" style="position:relative;margin-left:3%;padding:5%;width:90%" alt="cash-house-img" />
                <img id="img-approve" class="overlayimage" src="@Url.Content("~/Content/Images/approved.png")" style="position:absolute;padding:5%;margin-left:7%;width:80%" alt="cash-house-img" />
            </div>
        </div>*@

    <div class="container-fluid">
        <div class="col-md-12" style="margin-top:1%">
            <h1 class="text-center">Our Partners</h1>
            <hr class="myhr" style="margin-bottom:0%" />
            <div id="owl-demo" class="owl-carousel col-md-12">

                <div class="item"><span class="helper"></span><img src="@Url.Content("~/Content/Images/bankia-logo.png")" width="290" alt="Owl Image"></div>
                <div class="item"><span class="helper"></span><img src="@Url.Content("~/Content/Images/caixabank-logo.png")" width="290" alt="Owl Image"></div>
                <div class="item"><span class="helper"></span><img src="@Url.Content("~/Content/Images/bankinter-logo.png")" width="290" alt="Owl Image"></div>
                <div class="item"><span class="helper"></span><img src="@Url.Content("~/Content/Images/cajamar-logo.png")" width="290" alt="Owl Image"></div>
                <div class="item"><span class="helper"></span><img src="@Url.Content("~/Content/Images/santander-logo.png")" width="290" alt="Owl Image"></div>
                <div class="item"><span class="helper"></span><img src="@Url.Content("~/Content/Images/popular-logo.png")" width="290" alt="Owl Image"></div>
                <div class="item"><span class="helper"></span><img src="@Url.Content("~/Content/Images/sabadell-logo.png")" width="290" alt="Owl Image"></div>
                <div class="item"><span class="helper"></span><img src="@Url.Content("~/Content/Images/bmn-logo.png")" width="290" alt="Owl Image"></div>
                <div class="item"><span class="helper"></span><img src="@Url.Content("~/Content/Images/global-currency-logo.png")" width="290" alt="Owl Image"></div>
            </div>
        </div>

    </div>
    <hr>
