<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Lexus Mortgages</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    @*<link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             <!--   @Html.ActionLink("Lexus Mortgages", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) -->
                <a class="navbar-left" href='@Url.Action("Index", "Home")' >
                    <img style="max-width:200px; margin-top: 7px;" 
                     src="@Url.Content("~/Content/Images/LexusMortgageMainBanner.png")">
                </a>
            
            </div>
            <div class="navbar-collapse collapse">
                <!-- menu items -->
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Mortgage Process", "Index", "MortgageProcess")</li>
                    <li>@Html.ActionLink("Apply Online", "Index", "ApplyOnline")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                    <li>
                        <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
                        <div id="SkypeButton_Call_Lexus.mortgages_1">
                            <script type="text/javascript">
                                Skype.ui({
                                    "name": "dropdown",
                                    "element": "SkypeButton_Call_Lexus.mortgages_1",
                                    "participants": ["Lexus.mortgages"],
                                });
                            </script>
                        </div>
                    </li>
                </ul>
                <!-- social media icons -->
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
        <hr />
        <footer>

            <div style="width: 100%">
                <div class="container">
                    <div class="row">
                        <div class="text-center">
                            <ul class="list-inline intro-social-buttons" style="padding:2%">
                                <li>
                                    <a href="https://www.facebook.com/Lexusmortgages" class="social"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="social "><i class="fa fa-fw fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="social"><i class="fa fa-fw fa-skype"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UC1FAezybUppi8Ikq4bbEEfw" class="social"><i class="fa fa-fw fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    LEXUS MORTGAGES IS A LEGALLY REGISTERED COMPANY WITH CIF NUMBER B54045471
                    YOUR HOME MAY BE REPOSSESSED IF YOU DO NOT KEEP UP REPAYMENTS ON YOUR MORTGAGE. CHANGES IN THE EXCHANGE RATE MAY INCREASE THE STERLING EQUIVALENT OF YOUR DEBT.
                    <br /><br />
                    Mortgages in Spain - Spanish Mortgages - Mortgage Brokers Spain - Mortgage Advisors Spain - Remortgages and Finance
                </div>
            </div>
            <br /><br />
            <p class="copyright text-muted small">Copyright &copy; CodeTech. All Rights Reserved &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
