<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Lexus Mortgages</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
    <link rel="stylesheet" href="~/Content/OwlCarousel/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/OwlCarousel/owl.theme.css">
    <link rel="stylesheet" href="~/Content/OwlCarousel/owl.transitions.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> 
                    <a class="navbar-left left" href='@Url.Action("Index", "Home")'>
                        <img style="max-width:200px; margin-top: 9px;"
                             src="@Url.Content("~/Content/Images/LexusMortgageMainBanner.png")">
                    </a>
            </div>
            <div class="navbar-collapse collapse">
                <!-- menu items -->
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Mortgage Process", "Index", "MortgageProcess")</li>
                    <li>@Html.ActionLink("Apply Online", "Index", "ApplyOnline")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                    <li style="width:80px">
                        <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
                        <div id="SkypeButton_Call_Lexus.mortgages_1">
                            <script type="text/javascript">
                                Skype.ui({
                                    "name": "dropdown",
                                    "element": "SkypeButton_Call_Lexus.mortgages_1",
                                    "participants": ["Lexus.mortgages"],
                                });
                            </script>
                        </div>
                    </li>
                </ul>
                <div style="padding-top:14px">
                    <span class="flag-icon flag-icon-gb img-rounded">&nbsp;</span><span class="flag-icon flag-icon-ie img-rounded">&nbsp;</span><span class="flag-icon flag-icon-es img-rounded">&nbsp;</span>
                </div>
                 
                    <div style="width:70px;margin-top:-30px" class="pull-right">
                      
                        <a href="http://www.accuweather.com/en/es/alicante/310681/weather-forecast/310681" class="aw-widget-legal">
                            <!--
                By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
                -->
                        </a><div id="awcc1474117299875" class="aw-widget-current" data-locationkey="310681" data-unit="c" data-language="en-us" data-useip="false" data-uid="awcc1474117299875" data-targeturl="http://lexusmortgages.azurewebsites.net"></div>
                        <script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
                    </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
       
        <footer style="background-color:#2D6895">


                    <div class="col-md-12 text-center" style="padding-top:1%">

                        <ul class="list-inline intro-social-buttons" style="padding:2%">
                            <li>
                                <a href="https://www.facebook.com/Lexusmortgages" class="social"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/tim88088" class="social "><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#" class="social"><i class="fa fa-fw fa-skype"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC1FAezybUppi8Ikq4bbEEfw" class="social"><i class="fa fa-fw fa-youtube"></i></a>
                            </li>
                        </ul>

                        <div class="col-md-12">
                            <a class="text-center" href='@Url.Action("Index", "Home")'>
                                <img style="max-width:220px; padding: 1%;"
                                     src="@Url.Content("~/Content/Images/LexusMortgageMainBanner.png")">
                            </a>
                        </div>
                        <div class="col-md-12" style="color:#fff">
                            <p><span class="glyphicon glyphicon-phone"></span> +34 602 584 781 <span class="flag-icon flag-icon-es"></span></p>
                            <p><span class="glyphicon glyphicon-phone"></span> +353 (0)87 9833731 <span class="flag-icon flag-icon-ie"></span></p>
                            <address>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <a href="mailto:info@lexusmortgages.co.uk">info@lexusmortgages.co.uk</a><br />
                            </address>
                        </div>
                    </div>


                    <div class="text-center" style="color:#fff">
                        LEXUS MORTGAGES IS A LEGALLY REGISTERED COMPANY WITH CIF NUMBER B54045471
                        YOUR HOME MAY BE REPOSSESSED IF YOU DO NOT KEEP UP REPAYMENTS ON YOUR MORTGAGE. CHANGES IN THE EXCHANGE RATE MAY INCREASE THE STERLING EQUIVALENT OF YOUR DEBT.
                        <br /><br />
                        Mortgages in Spain - Spanish Mortgages - Mortgage Brokers Spain - Mortgage Advisors Spain - Remortgages and Finance
                    </div>

                    <br /><br />
                    <p class="copyright text-muted small">Copyright &copy; CodeTech. All Rights Reserved &copy; @DateTime.Now.Year</p>
             
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
 
    @RenderSection("scripts", required: false)
</body>
</html>
